@model ToDoList

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label class="control-label mb-2" asp-for="TaskName"></label>
        <input class="form-control" asp-for="TaskName" type="text" />
        <span class="text-danger" asp-validation-for="TaskName"></span>
    </div>
    <div class="form-group mb-3">
        <label class="control-label mb-2" asp-for="TaskDescription"></label>
        <textarea class="form-control" asp-for="TaskDescription" rowa="3"></textarea>
        <span class="text-danger" asp-validation-for="TaskDescription"></span>
    </div>
    <div class="form-group mb-3">
        <label class="control-label mb-2" asp-for="TaskType"></label>
        <input class="form-control" asp-for="TaskType" type="text" />
        <span class="text-danger" asp-validation-for="TaskType"></span>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-md">
            <label class="control-label mb-2" asp-for="EndDate"></label>
            <input class="form-control" asp-for="EndDate" type="date" />
            <span class="text-danger" asp-validation-for="EndDate"></span>
        </div>
    </div>

    <div class="row gap-2">

        <a class="btn btn btn-back col-md" asp-action="Index">Cancelar</a>
        <button class="btn-create col-md" type="submit">Cadastrar</button>
    </div>

</form>