@model ToDoList

<h1>Editar Tarefa @Model.TaskName</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ToDoListId" />
    <div class="form-group mb-3 mb-3">
        <label class="control-label mb-2" asp-for="TaskName"></label>
        <input class="form-control" asp-for="TaskName" type="text" />
        <span class="text-danger" asp-validation-for="TaskName"></span>
    </div>
    <div class="form-group mb-3">
        <label class="control-label mb-2" asp-for="TaskDescription"></label>
        <input class="form-control" asp-for="TaskDescription" type="text" />
        <span class="text-danger" asp-validation-for="TaskDescription"></span>
    </div>
    <div class="form-group mb-3">
        <label class="control-label mb-2" asp-for="TaskType"></label>
        <input class="form-control" asp-for="TaskType" type="text" />
        <span class="text-danger" asp-validation-for="TaskType"></span>
    </div>
    <div class="form-group mb-3">
        <label class="control-label mb-2" asp-for="StartDate"></label>
        <input class="form-control" asp-for="StartDate" />
        <span class="text-danger" asp-validation-for="StartDate"></span>
    </div>
   @*  <div class="form-group mb-3">
        <label class="control-label mb-2" asp-for="EndDate"></label>
        <input class="form-control" asp-for="EndDate" type="date" />
        <span class="text-danger" asp-validation-for="EndDate"></span>
    </div> *@

    <div class="row gap-2">

        <a class="btn btn btn-back col-md" asp-action="Index">Cancelar</a>
        <button class="btn-create col-md" type="submit">Editar</button>
    </div>

</form>
